<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static "style1.css" %}">
<link href="{% static 'responsive.css' %}" rel="stylesheet" />
<body>
    <div class="container1">
        <h1>Add Deduction</h1>
        <form action="{% url 'dedrec' %}" method="post">
            {% csrf_token %}
            <label for="">Cooli_Rent</label><br><br>
            <input type="text" name="Cooli_Rent"><br><br>
            <label for="">LF_Amount</label><br><br>
            <input type="text" name="LF_Amount"><br><br>
            <label for="">Commission</label><br><br>
            <input type="text" name="Commission"><br><br>
            <label for="">Brokerage</label><br><br>
            <input type="text" name="Brokerage"><br><br>
            <button type="submit" id="new">Submit</button>
        </form>
    </div>
</body>

</html>