<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static "style1.css" %}">
<link href="{% static 'responsive.css' %}" rel="stylesheet" />
<body>
    <div class="container2">
        <h1>Update Item</h1>
        <form action=" {% url 'uprec' biller.id %}" method="post">
            {% csrf_token %}
            <label for="">LOT Name</label><br><br>
            <input type="text" name="LOT_Name" value="{{biller.LOT_Name}}"><br><br>
            <label for="">Bags</label><br><br>
            <input type="text" name="Bags" value="{{biller.Bags}}"><br><br>
            <label for="">Total Kgs</label><br><br>
            <input type="text" name="Total_Kgs" value="{{biller.Total_Kgs}}"><br><br>
            <label for="">Rate Per Kg</label><br><br>
            <input type="text" name="Rate_Per_Kg" value="{{biller.Rate_Per_Kg}}"><br><br>
            <label for="">Amount Rs</label><br><br>
            <input type="text" name="Amount_Rs" value="{{biller.Amount_Rs}}"><br><br>
            <button type="submit" id="new1">Update</button>
        </form>

    </div>
</body>

</html>